html {
    background-color: lightgreen;
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 1200px;
    border: 1px solid green;
    margin: auto;
    position: relative;
}

#topimage {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: lawngreen;
    display: inline-block;
}

#topimage h1 {
    text-align: center;
}

#header {
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    display: inline-block;
    background-color: fuchsia;
}

#subheader {
    width: 40%;
    height: 600px;
    background-image: url("Karina.png");
    float: left;
    position: absolute;
    margin-left: 30%;
    margin-right: auto;
    margin-top: -200px;
    border-radius: 50% 50% 50% 50%;

}

#left {
    width: 15%;
    height: 900px;
    margin-top: 0px;
    float: left;
    background-color: green;
}


    

#center {
    width: 65%;
    height: 900px;
    float: left;
    margin-top: 0px;
    background-color: blue;
}

#right {
    width: 20%;
    height: 900px;
    margin-top:0px;
    float: left;
    background-color: indigo;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: gray;
}